= render "layouts/partials/map", markers: Trip.berlin


.row
  .col-12.no-gutters
    = form_for @trip do |f|
      - if @trip.errors.any?
        #error_explanation
          h2 = "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
          ul
            - @trip.errors.full_messages.each do |message|
              li = message


      .route_input.row.no-gutters
        .icons.col-3
           #gmaps-error = "KJLKJDLKSJDL"

        .col-9
          .field
            = f.text_field :origin_address, id: 'gmaps-input-address', placeholder: 'Start typing a place...'
            = f.label :origin_address, 'Origin'


          .field
            = f.text_field :destination_address
            = f.label :destination_address, 'Destination'
          .actions = f.submit
