= form_for @trip do |f|
  - if @trip.errors.any?
    #error_explanation
      h2 = "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      ul
        - @trip.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :origin
    = f.text_field :origin
  .field
    = f.label :pick_up
    = f.text_field :pick_up
  .field
    = f.label :drop_off
    = f.text_field :drop_off
  .field
    = f.label :destination
    = f.text_field :destination
  .actions = f.submit
