h1 Listing trips

table
  thead
    tr
      th Name
      th Origin
      th Pick up
      th Drop off
      th Destination
      th
      th
      th

  tbody
    - @trips.each do |trip|
      tr
        td = trip.name
        td = trip.origin
        td = trip.pick_up
        td = trip.drop_off
        td = trip.destination
        td = link_to 'Show', trip
        td = link_to 'Edit', edit_trip_path(trip)
        td = link_to 'Destroy', trip, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Trip', new_trip_path
