p#notice = notice

= render "layouts/partials/map", markers: @trip.origin_marker

p
  strong Name:
  = @trip.name
p
  strong Origin:
  = @trip.origin.map(&:to_f)
p
  strong Pick up:
  = @trip.pick_up.map(&:to_f)
p
  strong Drop off:
  = @trip.drop_off.map(&:to_f)
p
  strong Destination:
  = @trip.destination.map(&:to_f)

=> link_to 'Edit', edit_trip_path(@trip)
'|
=< link_to 'Back', trips_path
