// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 480px;

  .map_holder.medium #map {
    width: 480px;
    height: 400px;
  }

  .route_input {
    background-color: blue;
    .icons {
      width: 80px;
      display: inline;
      color: white;
    }

    .field label {
      display: inline;
      width: 240px;
      color: white;

    }
    .field input {
      width: 240px;
      display: inline;
    }
  }
}
